fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
pydantic-settings
google-generativeai
langchain
langchain-google-genai
langchain-core
pandas
prometheus-fastapi-instrumentator
